<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/1a02557296.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">INews</span>
  </div>
</nav>

<div class="container">
  <div class="row">
  
    <div class="col col-12 mt-2">
      <img class="image w-100 h-30" src="https://i.ibb.co/51dxN4k/image1.jpg">
    </div>
    
    <div class="col col-12 mt-2 text-center">
      <a href="news?id=in">
         <button type="button" class="btn btn-dark btn-lg">Read News</button>
      </a>
    </div>
    
    <div class="col col-12 mt-2">
      <h2>Coverage</h2>
      <p>News serves as a crucial mechanism for keeping the public informed about current events and important developments. It encompasses a broad range of topics, including politics, economics, science, technology, culture, and more. News outlets, whether traditional newspapers, television channels, or digital platforms, strive to provide accurate and timely information to help individuals stay informed about the world around them.</p>
    </div>
    
    <div class="col col-6 mt-2">
      <img class="image w-100 h-30" src="https://i.ibb.co/dQ0RgfH/images-2.jpg">
    </div>
    
    <div class="col col-12 mt-2">
       <h2>Dispatches</h2>
       <p>The evolution of news media has been marked by significant changes in how information is delivered and consumed. The rise of digital platforms and social media has transformed the landscape, allowing for real-time updates and a more interactive experience. While this shift has made news more accessible, it has also introduced challenges related to the credibility of sources and the spread of misinformation. As a result, critical thinking and media literacy have become essential skills for navigating the modern news environment.</p>
    </div>
    
    <div class="col col-12 mt-2">
      <img class="image w-100 h-30"  src="https://i.ibb.co/sVRRDX9/download.png">
    </div>
    
    <div class="col col-12 mt-2">
       <h2>Reports</h2>
       <p>In addition to reporting facts, news organizations often play a role in shaping public opinion and influencing policy decisions. Through investigative journalism and in-depth reporting, the media can highlight issues that might otherwise go unnoticed, prompting discussions and actions that address societal concerns. The balance between reporting news impartially and engaging in advocacy or commentary is an ongoing debate within the field, reflecting the complex nature of media's role in democratic societies.</p>
    </div>    
    
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
     <ul class="list-unstyled list-inline social text-center">
       <li class="list-inline-item">
         <i class="fa-brands fa-facebook"></i>
       </li>
       <li class="list-inline-item">
         <i class="fa-brands fa-twitter"></i>
       </li>
       <li class="list-inline-item">
         <i class="fa-brands fa-instagram"></i>
       </li>
      </ul>
     </div>
     <hr>
  </div>
  
  <div class="row">
     <div class="col-12 text-center mb-3">
         <code>@2020-2029</code>
     </div>
  </div>
  
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
